* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 10%;
    text-align: center;
}

main {
    height: 80%;
    width: 100%;
}

button {
    position: absolute;
    width: 100px;
    height: 60px;
    font-size: large;
    left: calc(50% - 50px);
}